<div>
  <p>Defined Cohorts:</p>
  <table id="cohorts">
    <tr><th>Cohort Name</th><th>Actions</th></tr>
    <tr><td>Male Students from Northern New ...</td><td>share analyze profile</td></tr>
    <tr><td>Male Students from Southern New ...</td><td>share analyze profile</td></tr>
  </table>
</div>

<div>
  <p>Defined Rulesets:</p>
</div>
